* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fbf7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #dfac22;
    color: rgb(10, 10, 10);
    padding: 20px;
    width: 100%;
    text-align: center;
}

/* Stil für die H1-Überschrift im Header */
h1 {
    font-size: 2.5em; /* Schriftgröße anpassen */
    color: rgb(10, 10, 10); /* Textfarbe anpassen */
    margin: 0; /* Standard-Margin entfernen */
}

/* Stil für die H2-Überschrift im Hauptbereich */
h2 {
    font-size: 2em; /* Schriftgröße anpassen */
    color: #ca9d17; /* Textfarbe anpassen */
    margin-top: 20px; /* Abstand oben hinzufügen */
    text-align: center; /* Text zentrieren */
}

.login-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #d4710e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}
